<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
{% load i18n %}

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Форма БОц</title>
    <link rel="stylesheet" href="{{MEDIA_URL}}/css/slick.grid.css" type="text/css"/>
    <link rel="stylesheet" href="{{MEDIA_URL}}/css/jquery-ui-1.8.16.custom.css" type="text/css"/>
    <link rel="stylesheet" href="{{MEDIA_URL}}/css/examples.css" type="text/css"/>
    <style>
        .cell-title {
            font-weight: bold;
        }

        .cell-effort-driven {
            text-align: center;
        }
    </style>
</head>
<body>

<form id="boc_form" enctype="multipart/form-data" method="post">

{{ form.as_p }}

    <input type="button" id="id_calc" name="calc" value="Рассчитать" />

</form>

<div style="position:relative">
    <div style="width:1200px;">
        <div id="myGrid" style="width:100%;height:500px;"></div>
    </div>
    <ul id="contextMenu" style="position: absolute; top: 260px; left: 237px; display: none; ">
        <li data="Delete">Удалить</li>
    </ul>

    <script src="{{MEDIA_URL}}/js/lib/firebugx.js"></script>

    <script src="{{MEDIA_URL}}/js/lib/jquery-1.7.min.js"></script>
    <script src="{{MEDIA_URL}}/js/lib/jquery-ui-1.8.16.custom.min.js"></script>
    <script src="{{MEDIA_URL}}/js/lib/jquery.event.drag-2.0.min.js"></script>

    <script src="{{MEDIA_URL}}/js/slick.core.js"></script>
    <script src="{{MEDIA_URL}}/js/plugins/slick.cellrangedecorator.js"></script>
    <script src="{{MEDIA_URL}}/js/plugins/slick.cellrangeselector.js"></script>
    <script src="{{MEDIA_URL}}/js/plugins/slick.cellselectionmodel.js"></script>
    <script src="{{MEDIA_URL}}/js/slick.formatters.js"></script>
    <script src="{{MEDIA_URL}}/js/slick.editors.js"></script>
    <script src="{{MEDIA_URL}}/js/slick.grid.js"></script>

    <script>
        var columns = []
        var griddata = []
        var options = {
        }
        var colnumbers = { 'price' : 0,
                    'itemtype1' : 1,
                    'itemname' : 2,
                    'itemtype2' : 3,
                    'servername': 4,
                    'ex_cpucount' : 5,
                    'ex_ramcount' : 6,
                    'ex_sancount' : 7 ,
                    'ex_nascount': 8,
                    'cpucount' : 9,
                    'ramcount' : 10,
                    'hddcount' : 11,
                    'sancount' : 12,
                    'nascount' : 13,
                    'itemcount' : 14,
                    'platformtype' : 15,
                    'ostype' : 16,
                    'swaddons' : 17,
                    'itemstate' : 18,
                    'lansegment' : 19,
                    'dbtype' : 20,
                    'clustype' : 21,
                    'backuptype' : 22,
                    'comment' : 23
        }


        function requiredFieldValidator(value) {
            if (value == null || value == undefined || !value.length) {
                return {valid: false, msg: "This is a required field"};
            } else {
                return {valid: true, msg: null};
            }
        }

        function SelectCellEditor(args) {
            var $select;
            var defaultValue;
            var scope = this;

            this.init = function () {

                if (args.column.options) {
                    opt_values = args.column.options.split(',');
                } else {
                    opt_values = "yes,no".split(',');
                }
                option_str = ""
                for (i in opt_values) {
                    v = opt_values[i];
                    option_str += "<OPTION value='" + v + "'>" + v + "</OPTION>";
                }
                $select = $("<SELECT tabIndex='0' class='editor-select'>" + option_str + "</SELECT>");
                $select.appendTo(args.container);
                $select.focus();
            };

            this.destroy = function () {
                $select.remove();
            };

            this.focus = function () {
                $select.focus();
            };

            this.loadValue = function (item) {
                defaultValue = item[args.column.field];
                $select.val(defaultValue);
            };

            this.serializeValue = function () {
                if (args.column.options) {
                    return $select.val();
                } else {
                    return ($select.val() == "yes");
                }
            };

            this.applyValue = function (item, state) {
                item[args.column.field] = state;
            };

            this.isValueChanged = function () {
                return ($select.val() != defaultValue);
            };

            this.validate = function () {
                return {
                    valid: true,
                    msg: null
                };
            };

            this.init();
        }

        var grid;
        var url_setup = "/boc_setup"
        var url_setup = "/boc_setup"

        $.ajax({
            url: url_setup,
            async: false,
            dataType: 'json',
            success: function(data, status){
{#                console.log(data)#}
                griddata = data.data;
                columns = data.columns;
                options = data.options;

            }
        });

        $(function () {
{#            $.getJSON(url, {}, function(data, status){#}
{#                console.log(data)#}
{#                griddata = data.data;#}
{#                columns = data.columns;#}
{#                options = data.options;#}
{##}
{#            })#}

{#            console.log("DATA: " + griddata);#}
{#            console.log("COLUMNS: " + columns);#}
{#            console.log("OPTIONS: " + options);#}

            for (col in columns) {
                d = columns[col]
                if (d["editor"] == "Slick.Editors.Text") {
                    d["editor"] = Slick.Editors.Text
                }
                if (d["validator"] == "requiredFieldValidator") {
                    d["validator"] = requiredFieldValidator
                }
                if (d["editor"] == "SelectCellEditor") {
                    d["editor"] = SelectCellEditor
                }
                if (d["editor"] == "Slick.Editors.LongText") {
                    d["editor"] = Slick.Editors.LongText
                }

                columns[col] = d
            }

            grid = new Slick.Grid("#myGrid", griddata, columns, options);
            grid.setSelectionModel(new Slick.CellSelectionModel());
            grid.onContextMenu.subscribe(function (e) {
                e.preventDefault();
                var cell = grid.getCellFromEvent(e);
                $("#contextMenu")
                        .data("row", cell.row)
                        .css("top", e.pageY)
                        .css("left", e.pageX)
                        .show();

                $("body").one("click", function () {
                    $("#contextMenu").hide();
                });
            });

            $("#contextMenu").click(function (e) {
                if (!$(e.target).is("li")) {
                    return;
                }
                if (!grid.getEditorLock().commitCurrentEdit()) {
                    return;
                }
                var row = $(this).data("row");
                griddata.splice(row, 1);
                grid.invalidate();
                grid.render();
            });

            grid.onCellChange.subscribe(function(e,args) {
                grid.invalidateRow(args.row);
                if (grid.getColumns()[args.cell].field == "itemtype1") {
                    if (!griddata[args.row][grid.getColumns()[colnumbers["itemname"]].field] || griddata[args.row][grid.getColumns()[colnumbers["itemname"]].field] == "") {
                        griddata[args.row][grid.getColumns()[colnumbers["itemname"]].field] = griddata[args.row][grid.getColumns()[colnumbers["itemtype1"]].field];
                    }
                }
                if (grid.getColumns()[args.cell].field == "itemtype2") {
                    if (griddata[args.row][grid.getColumns()[colnumbers["itemtype2"]].field] == "новая позиция"){
                        griddata[args.row][grid.getColumns()[colnumbers["servername"]].field] = "-";
                        griddata[args.row][grid.getColumns()[colnumbers["ex_cpucount"]].field] = "-";
                        griddata[args.row][grid.getColumns()[colnumbers["ex_ramcount"]].field] = "-";
                        griddata[args.row][grid.getColumns()[colnumbers["ex_sancount"]].field] = "-";
                        griddata[args.row][grid.getColumns()[colnumbers["ex_nascount"]].field] = "-";
                        if (griddata[args.row][grid.getColumns()[colnumbers["itemtype1"]].field] == "Сервер приложения"){
                            griddata[args.row][grid.getColumns()[colnumbers["cpucount"]].field] = 6;
                            griddata[args.row][grid.getColumns()[colnumbers["ramcount"]].field] = 48;
                            griddata[args.row][grid.getColumns()[colnumbers["hddcount"]].field] = 100;
                            griddata[args.row][grid.getColumns()[colnumbers["sancount"]].field] = 0;
                            griddata[args.row][grid.getColumns()[colnumbers["nascount"]].field] = 0;
                            griddata[args.row][grid.getColumns()[colnumbers["platformtype"]].field] = "Intel x86";
                            griddata[args.row][grid.getColumns()[colnumbers["ostype"]].field] = "Linux (RHEL)";
                        }
                        if (griddata[args.row][grid.getColumns()[colnumbers["itemtype1"]].field] == "Терминальный сервер"){
                            griddata[args.row][grid.getColumns()[colnumbers["cpucount"]].field] = 4;
                            griddata[args.row][grid.getColumns()[colnumbers["ramcount"]].field] = 24;
                            griddata[args.row][grid.getColumns()[colnumbers["hddcount"]].field] = 100;
                            griddata[args.row][grid.getColumns()[colnumbers["sancount"]].field] = 0;
                            griddata[args.row][grid.getColumns()[colnumbers["nascount"]].field] = 0;
                            griddata[args.row][grid.getColumns()[colnumbers["platformtype"]].field] = "Intel x86";
                            griddata[args.row][grid.getColumns()[colnumbers["ostype"]].field] = "Windows";

                        }
                        if (griddata[args.row][grid.getColumns()[colnumbers["itemtype1"]].field] == "Балансировщик"){
                            griddata[args.row][grid.getColumns()[colnumbers["cpucount"]].field] = "-";
                            griddata[args.row][grid.getColumns()[colnumbers["ramcount"]].field] = "-";
                            griddata[args.row][grid.getColumns()[colnumbers["hddcount"]].field] = "-";
                            griddata[args.row][grid.getColumns()[colnumbers["sancount"]].field] = "-";
                            griddata[args.row][grid.getColumns()[colnumbers["nascount"]].field] = "-";
                            griddata[args.row][grid.getColumns()[colnumbers["ostype"]].field] = "-";
                            griddata[args.row][grid.getColumns()[colnumbers["platformtype"]].field] = "-";
                            griddata[args.row][grid.getColumns()[colnumbers["dbtype"]].field] = "-";

                        }
                        if (griddata[args.row][grid.getColumns()[colnumbers["itemtype1"]].field] == "IBM DataPower"){
                            griddata[args.row][grid.getColumns()[colnumbers["cpucount"]].field] = "-";
                            griddata[args.row][grid.getColumns()[colnumbers["ramcount"]].field] = "-";
                            griddata[args.row][grid.getColumns()[colnumbers["hddcount"]].field] = "-";
                            griddata[args.row][grid.getColumns()[colnumbers["sancount"]].field] = "-";
                            griddata[args.row][grid.getColumns()[colnumbers["nascount"]].field] = "-";
                            griddata[args.row][grid.getColumns()[colnumbers["ostype"]].field] = "-";
                            griddata[args.row][grid.getColumns()[colnumbers["platformtype"]].field] = "-";
                            griddata[args.row][grid.getColumns()[colnumbers["dbtype"]].field] = "-";

                        }

                    }
                }
                if (grid.getColumns()[args.cell].field == "platformtype") {
                    if (griddata[args.row][grid.getColumns()[colnumbers["platformtype"]].field] == "Intel x86"){
                        griddata[args.row][grid.getColumns()[colnumbers["ostype"]].field] = "Linux (RHEL)";
                    }
                    if (griddata[args.row][grid.getColumns()[colnumbers["platformtype"]].field] == "Oracle SPARC"){
                        griddata[args.row][grid.getColumns()[colnumbers["ostype"]].field] = "Oracle Solaris";
                    }
                    if (griddata[args.row][grid.getColumns()[colnumbers["platformtype"]].field] == "IBM Power"){
                        griddata[args.row][grid.getColumns()[colnumbers["ostype"]].field] = "IBM AIX";
                    }
                }

                if (grid.getColumns()[args.cell].field == "ostype") {
                    if (griddata[args.row][grid.getColumns()[colnumbers["ostype"]].field] == "Linux (RHEL)" ||
                            griddata[args.row][grid.getColumns()[colnumbers["ostype"]].field] == "Windows"){
                        griddata[args.row][grid.getColumns()[colnumbers["platformtype"]].field] = "Intel x86";
                    }
                    if (griddata[args.row][grid.getColumns()[colnumbers["ostype"]].field] == "Oracle Solaris"){
                        griddata[args.row][grid.getColumns()[colnumbers["platformtype"]].field] = "Oracle SPARC";
                    }
                    if (griddata[args.row][grid.getColumns()[colnumbers["ostype"]].field] == "IBM AIX"){
                        griddata[args.row][grid.getColumns()[colnumbers["platformtype"]].field] = "IBM Power";
                    }
                }

                if (grid.getColumns()[args.cell].field == "itemstate")  {
                    if ((griddata[args.row][grid.getColumns()[colnumbers["itemstate"]].field] == "пром") &&
                            (griddata[args.row][grid.getColumns()[colnumbers["itemtype1"]].field] != "Балансировщик")
                            && (griddata[args.row][grid.getColumns()[colnumbers["itemtype1"]].field] != "IBM DataPower"))
                    {
                        griddata[args.row][grid.getColumns()[colnumbers["clustype"]].field] = "да";
                        griddata[args.row][grid.getColumns()[colnumbers["backuptype"]].field] = "да";
                    }
                    if ((griddata[args.row][grid.getColumns()[colnumbers["itemstate"]].field] == "тест(НТ)") ||
                            (griddata[args.row][grid.getColumns()[colnumbers["itemstate"]].field] == "тест(другое)") ||
                            (griddata[args.row][grid.getColumns()[colnumbers["itemtype1"]].field] == "Балансировщик")
                            || (griddata[args.row][grid.getColumns()[colnumbers["itemtype1"]].field] == "IBM DataPower")){
                        griddata[args.row][grid.getColumns()[colnumbers["clustype"]].field] = "нет";
                        griddata[args.row][grid.getColumns()[colnumbers["backuptype"]].field] = "нет";
                    }

                }

                grid.render();
            });


            grid.onAddNewRow.subscribe(function (e, args) {
                var item = args.item;
                console.log("from new row handler");
                console.log(item);
                console.log(args);
                if (args["column"]["id"] == "itemtype1") {
                    item["itemname"] = item["itemtype1"];
                }
                if (args["column"]["id"] == "itemtype2") {
                    if (item["itemtype2"] == "новая позиция") {
                        item["servername"] = "-";
                        item["ex_cpucount"] = "-";
                        item["ex_ramcount"] = "-";
                        item["ex_sancount"] = "-";
                        item["ex_nascount"] = "-";
                    }
                }
                if (args["column"]["id"] == "platformtype") {
                    if (item["platformtype"] == "Intel x86"){
                        item["ostype"] = "Linux (RHEL)";
                    }
                    if (item["platformtype"] == "Oracle SPARC"){
                        item["ostype"] = "Oracle Solaris";
                    }
                    if (item["platformtype"] == "IBM Power"){
                        item["ostype"] = "IBM AIX";
                    }
                }

                if (args["column"]["id"] == "ostype") {
                    if (item["ostype"] == "Linux (RHEL)" || item["ostype"] == "Windows" ){
                        item["platformtype"] = "Intel x86";
                    }
                    if (item["ostype"] == "Oracle Solaris"){
                        item["platformtype"] = "Oracle SPARC";
                    }
                    if (item["ostype"] == "IBM AIX"){
                        item["platformtype"] = "IBM Power";
                    }
                }

                if (args["column"]["id"] == "itemstate") {
                    if (item["itemstate"] == "пром"){
                        item["clustype"] = "да";
                        item["backuptype"] = "да";
                    }
                    if ((item["itemstate"] == "тест(другое)") || (item["itemstate"] == "тест(НТ)")){
                        item["clustype"] = "нет";
                        item["backuptype"] = "нет";
                    }
                }

                grid.invalidateRow(griddata.length);
                griddata.push(item);
                grid.updateRowCount();
                grid.render();
            });


            $("#id_calc").click( function ()
                    {
                        var url_boc_calc = "/boc_calc"
                        gdata = {}
                        i = 1
                        for (line in griddata) {
                            gdata[i] = griddata[line];
                            i++;
                        }
                        console.log(gdata);
                        $.ajax({
                            type : 'POST',
                            url: url_boc_calc,
                            async: false,
                            dataType: 'json',
                            {#                proccessData: false,#}
                            data: {"json" : JSON.stringify(griddata) },
                            success: function(data, status){
                                griddata = data.data;
                                console.log(griddata)
                                grid.setData(griddata)
                                grid.render();
                            }
                        });
                    }
            );

        })

        var prjselectbox = document.getElementById('id_prjselect')
        var prjname = document.getElementById('id_prjname')
        var prjcustomer = document.getElementById('id_customer')
        var prjmanager = document.getElementById('id_manager')

        var prjselect_handler=function () {
            var url_get_prj_name = "/boc_get_prj_name"
            $.ajax({
                url: url_get_prj_name,
                async: false,
                dataType: 'json',
                data: { "project_id" : prjselectbox.value },
                success: function(data, status){
                    prjname.value = data.project_name;
                    prjcustomer.value = data.customer;
                    prjmanager.value = data.manager;
                }
            });
        };
        prjselectbox.onchange=prjselect_handler



        $("#id_file").change(function (){
            var fileName = $(this).val();
            console.log(fileName)
            $("form#boc_form").submit();
        });

    </script>
</div>
</body>
</html>
