<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
{% load i18n %}

<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <noscript>Для корректной работы страницы включите JavaScript в настройках браузера</noscript>
    <script src="{{ MEDIA_URL }}/js/lib/firebugx.js"></script>
    <script src="{{ MEDIA_URL }}/js/lib/jquery-1.7.min.js"></script>
    <script src="{{ MEDIA_URL }}/js/lib/jquery.arcticmodal-0.3.min.js"></script>

{#    <script src="{{ MEDIA_URL }}/js/eos.js" type="text/javascript" xmlns="http://www.w3.org/1999/html"></script>#}
{#        <script src="{{MEDIA_URL}}/js/lib/jquery-ui-1.8.16.custom.min.js"></script>#}
{#        <script src="{{MEDIA_URL}}/js/lib/jquery.event.drag-2.0.min.js"></script>#}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Форма Экспресс-Оценки</title>
    <link rel="stylesheet" href="{{MEDIA_URL}}/css/jquery-ui-1.8.16.custom.css" type="text/css"/>
    <link rel="stylesheet" href="{{MEDIA_URL}}/css/kanso.css" type="text/css"/>
    <link rel="stylesheet" href="{{MEDIA_URL}}/css/popup.css" type="text/css"/>
    <link rel="stylesheet" href="{{MEDIA_URL}}/css/jquery.arcticmodal-0.3.css" type="text/css"/>
    <link rel="stylesheet" href="{{MEDIA_URL}}/css/themes/simple.css" type="text/css"/>

{#    <script type="text/javascript">#}
{#    </script>#}
</head>
<body>
<div id="user_details" class="user_details">
    <label id="username_label">Пользователь: {{ username }},</label>
{#    <a class="button is-link" onclick="window.open('eos/logout');">выйти</a>#}
{#    <label id="logout">выйти</label>#}
    <a href="eos/logout">выйти</a>
</div>

<img src="{{ MEDIA_URL }}/images/sb-logo.jpg" align="right" width="50" height="50" >
<form id="boc_form" enctype="multipart/form-data" method="post">
    <table>
        <tr>
            <td> <a id="load" class="button is-inverse has-icon-spacing"><i class="fa fa-upload"></i> Импорт</a> </td>
            <td> <a id="save" class="button is-inverse has-icon-spacing"><i class="fa fa-money"></i> Экспорт оценки</a> </td>
            <td> <a id="rp_save" class="button is-inverse has-icon-spacing"><i class="fa fa-tasks"></i> Экспорт техплана</a> </td>
            <td> <a id="super_rp_save" class="button is-inverse has-icon-spacing"><i class="fa fa-tasks"></i> Подготовка техплана для списка проектов</a> </td>
            <td> <a id="add_req" class="button is-inverse has-fixed-icon"><i class="fa fa-plus"></i> Добавить элемент</a></td>

        </tr>
   </table>

    <div id="error_message_section" style="position:relative; color: red; text-align: center; display: none">
        <label id="error_message_text" ></label>
    </div>

    {{ form.as_table }}

    <p></p>
    <hr>
    <div id="prom_header" onclick="hideShowAll('#prom_body');return false;">
        <table id="prom_table">
            <tr>
                <td><a class="name_in_table">Промышленные среды </a></td>
            </tr>
        </table>
    </div>
    <div id="prom_body">
    </div>
    <table id="prom_table1">
        <tr>
            <td width="40px"><a id="prom_count">Количество 0</a></td>
            <td width="60px"><a id="prom_cost">Стоимость 0$</a></td>
        </tr>
    </table>
    <hr>
    <div id="test_nt_header" onclick="hideShowAll('#test_nt_body');return false;">
        <table id="test_nt_table">
            <tr>
                <td width="30px"><a class="name_in_table">Среды нагрузочного тестирования </a></td>
            </tr>
        </table>
    </div>
    <div id="test_nt_body">
    </div>
    <table id="test_nt_table1">
        <tr>
            <td width="40px"><a id="test_nt_count">Количество 0</a></td>
            <td width="60px"><a id="test_nt_cost">Стоимость 0$</a></td>
        </tr>
    </table>
    <hr>
    <div id="test_other_header" onclick="hideShowAll('#test_other_body');return false;">
        <table id="test_other_table">
            <tr>
                <td width="30px"><a class="name_in_table">Прочие тестовые среды </a></td>
            </tr>
        </table>
    </div>
    <div id="test_other_body">
    </div>
    <table id="test_other_table1">
        <tr>
            <td width="40px"><a id="test_other_count">Кол-во 0</a></td>
            <td width="60px"><a id="test_other_cost">Стоимость 0$</a></td>
        </tr>
    </table>
    <hr>
    <table id="cost_footer">
        <tr>
            <td width="25px"><a id="total_cost">Общая стоимость КТС 0$</a></td>
            <td width="25px"><a id="total_cost_hw">Оборудование 0$</a></td>
            <td width="25px"><a id="total_cost_sw">Лицензии 0$</a></td>
            <td width="25px"><a id="total_cost_sup">Поддержка за год 0$</a></td>
        </tr>
        <tr>
            <td colspan="4"><a id="total_dc_cost">Стоимость аренды ЦОД за год 0 руб.</a></td>
        </tr>
    </table>
{#    <a id="total_cost">Общая стоимость 0$</a>#}
{#    <a id="total_cost_hw">Оборудование 0$</a>#}
{#    <a id="total_cost_sw">Лицензии 0$</a>#}
{#    <a id="total_cost_sup">Поддержка 0$</a>#}

</form>

<div style="display: none;">
    <div class="box-modal" id="add_req_dialog">
        <div id="close" class="box-modal_close arcticmodal-close">закрыть</div>
        <div id="main_params">
            <select id="itemtype2" name="itemtype2">
                <option value="new">Новый</option>
                <option value="upgrade">Модернизация</option>
            </select>
            <select id="itemtype1" name="itemtype1">
                <option value="other">Другое</option>
                <option value="db">Сервер СУБД</option>
                <option value="dbarch">Сервер архивной СУБД</option>
                <option value="app">Сервер приложения</option>
                <option value="term">Терминальный сервер</option>
                <option value="lb">Балансировщик</option>
                <option value="dp">IBM DataPower</option>
                <option value="mqdmz">Сервер MQ (DMZ)</option>
            </select>
            <select id="itemstatus" name="itemstatus">
                <option value="---">---</option>
                <option value="prom">Пром</option>
                <option value="test-nt">Тест (НТ)</option>
                <option value="test-dev">Тест (DEV)</option>
                <option value="test-sst1">Тест (ССТ1)</option>
                <option value="test-sst2">Тест (ССТ2)</option>
                <option value="test-ift">Тест (ИФТ)</option>
                <option value="test-obuch">Тест (ОБУЧ)</option>
                <option value="test-psi">Тест (ПСИ)</option>
                <option value="test-hf">Тест (HF)</option>
            </select>
        </div>
        <hr>
        <div id="upgrade_params" style="display: none;">

            <table style="padding-left: 10px; padding-bottom: 5px; padding-top: 5px;">
                <tr>
                    <td> <label class="label-modal" for="servername">Имя сервера:</label>  </td>
                    <td> <input class="textbox-modal" id="servername" type="text" size="10" value="-">  </td>
                </tr>
             </table>
            <hr>
        </div>
        <div id="new_params">
            <table class="modal_table">
                <tr>
                    <td><label class="label-modal" for="cpu_count">Кол-во CPU:</label> </td>
                    <td><input class="textbox-modal" id="cpu_count" type="number" size="3" value="0" onkeypress="return isNumberKey(event)"></td>
                    <td><label class="label-modal" for="ram_count">Кол-во ОЗУ,Гб:</label></td>
                    <td><input class="textbox-modal" id="ram_count" type="number" size="4" value="0" onkeypress="return isNumberKey(event)"></td>
                </tr>
                <tr>

                    <td><label class="label-modal" for="hdd_count">Внутреннее СХД,Гб:</label></td>
                    <td><input class="textbox-modal" id="hdd_count" type="number" size="5" value="0" onkeypress="return isNumberKey(event)"></td>
                    <td><label class="label-modal" for="san_count">Кол-во СХД (SAN),Гб:</label></td>
                    <td><input class="textbox-modal" id="san_count" type="number" size="5" value="0" onkeypress="return isNumberKey(event)"></td>
                </tr>
                <tr>
                  <td></td>
                    <td></td>
                  <td><label class="label-modal" for="nas_count">Кол-во СХД (NAS),Гб:</label></td>
                  <td><input class="textbox-modal" id="nas_count" type="number" size="5" value="0" onkeypress="return isNumberKey(event)"></td>
                </tr>
            </table>
            <hr>
        </div>
        <div id="detailed_params">

            <table class="modal_table_1">
            <tr>
                <td><label class="label-modal" for="item_count">Кол-во позиций:</label></td>
                <td><input class="textbox-modal" id="item_count" type="number" size="3" value="0" onkeypress="return isNumberKey(event)"></td>
                <td>
                    <select id="ostype" name="ostype">
                        <option value="---">---</option>
                        <option value="aix">AIX</option>
                        <option value="solaris">Solaris</option>
                        <option value="hpux">HP-UX</option>
                        <option value="linux">Linux (RHEL)</option>
                        <option value="windows">Windows</option>
                    </select>
                </td>
                <td>
                    <select id="platform_type" name="platform_type">
                        <option value="---">---</option>
                        <option value="power">IBM Power</option>
                        <option value="t_series">Oracle T</option>
                        <option value="m_series">Oracle M</option>
                        <option value="itanium">HP Itanium</option>
                        <option value="x86">x86 (физический)</option>
                        <option value="x86_vm">x86 (виртуальный)</option>
                    </select>
                </td>
                </tr>
            <tr>
                <td><label class="label-modal" for="lan_segment">Сегмент LAN:</label> </td>
                <td><select id="lan_segment" name="lan_segment">
                        <option value="alpha">Alpha</option>
                        <option value="sigma">Sigma</option>
                        <option value="tay">Tau</option>
                        <option value="dmz">DMZ</option>
                        <option value="other">Другой</option>
                    </select>
                </td>
                <td><label id="db_type_label" class="label-modal" for="db_type" style="display: none;">Тип СУБД:</label> </td>
                <td><select id="db_type" name="db_type" style="display: none;">
                    <option value="---">---</option>
                    <option value="oracle">Oracle DB</option>
                    <option value="oracle_part">Oracle DB (+Partitions)</option>
                    <option value="oracle_rac">Oracle DB RAC</option>
                    <option value="db2">IBM DB2</option>
                    <option value="mssql">MS SQL</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label id="app_type_label" class="label-modal" for="app_type" style="display: none;">Приложение/сервис:</label> </td>
                <td><select id="app_type" name="app_type" style="display: none;">
                    <option value="---">---</option>
                    <option value="mq">IBM MQ</option>
                    <option value="mb">IBM MB</option>
                    <option value="was">IBM WAS</option>
                    <option value="ad">Microsoft AD</option>
                    <option value="iis">Microsoft IIS</option>
                    <option value="dns">Сервис DNS</option>
                    <option value="sudir">Сервис СУДИР</option>
                    <option value="wls">Oracle WLS</option>
                    <option value="sybase_as">Sybase AS</option>
                    <option value="prpc">PRPC</option>
                </select>
                </td>
            </tr>
            <tr>
                <td> <label id="cluster_type_label" class="label-modal" for="cluster_type">Тип кластреизации:</label></td>
                <td><select id="cluster_type" name="cluster_type">
                    <option value="none">Нет</option>
                    <option value="vcs">Территориальная</option>
                    <option value="app">Уровня приложения</option>
                    </select>
                </td>
{#                <td></td>#}
{#                <td></td>#}
{#            </tr>#}
{#            <tr>#}
                <td><label id="backup_type_label" class="label-modal" for="backup_type">Резервное копирование:</label></td>
                <td><select id="backup_type" name="cluster_type">
                    <option value="no">Нет</option>
                    <option value="yes">Да</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label class="label-modal" id="utilization_label" for="utilization">Загрузка (%):</label></td>
                <td><input class="textbox-modal" id="utilization" type="number" size="3" value="0" onkeypress="return isNumberKey(event)"></td>
            </tr>
            <tr>
                <td> <input id="itemname" type="hidden"></td>
            </tr>

        </table>
            <hr>
        </div>



        <a id="add_req_modal" class="button is-inverse has-fixed-icon"><i class="fa fa-plus"></i></a>
        <a id="edit_req_modal" class="button is-inverse has-fixed-icon"><i class="fa fa-pencil-square-o"></i></a>



    </div>
</div>


<div style="display: none;">
    <div class="box-modal" id="prjselect_dialog">
        <div id="close_prjselect_dialog" class="box-modal_close arcticmodal-close">закрыть</div>
        <label class="label-modal">Информация о проекте</label>
        <table>
            <tr>
                <td>
                    <label for="prjselect" class="label-modal">Портфель проектов:</label>
                </td>
                <td>
                    <select id="prjselect" name="prjselect">
                    </select>
                </td>
                <td>
                    <label for="prjnum" class="label-modal">Номер проекта:</label>
                </td>
                <td>
                <input class="textbox-project-modal" id="prjnum" type="number" size="6" onkeypress="return isNumberKey(event)">
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <input class="prjname-modal" id="prjname">
                </td>
                <td> </td>
                <td>
                    <a id="prj_confirm" class="button is-inverse has-fixed-icon"><i class="fa fa-check"></i></a>
                </td>
                <td> <input id="prj_function" type="hidden"></td>
            </tr>
        </table>

    </div>
</div>
<img class="img-center" src="{{ MEDIA_URL }}/images/loading.gif" id="load_img" width="100" height="100" style="display: none">

<div style="position:relative; width:100%; text-align: center">
    <p> <a id="methology" class="button is-link" onclick="window.open('eos/media/doc/Methodology.pdf');">Методология расчета стоимости</a>
        <a id="template" class="button is-link" onclick="window.open('eos/media/doc/template.xlsx');">Шаблон для импорта данных</a>
    </p>
</div>

<script src="{{ MEDIA_URL }}/js/eos.js"></script>
</body>
</html>
